{% extends 'base.html' %}
{% load static %}
{% block title %}
            F | Advert Detail
         {% endblock %}

{% block body %}
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
          <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
              <div class="container">
                <div class="row">
                  <div class="col-xl-8 col-lg-11 col-md-12">
                    <div class="hero__caption hero__caption2">
                      <h1 data-animation="bounceIn" data-delay="0.2s">Advert Details</h1>
                      
                 </div>
              </div>
           </div>
        </div>          
     </div>
     </div>
     </section>
     <!--? Blog Area Start -->
     <section class="blog_area single-post-area section-padding">
        <div class="container">

            
           <div class="row">
            <div class="col-lg-8 posts-list">

                <div class="blog-author">
                    <div class="media align-items-center">
                       <img src="{% static 'img/blog/author.png' %}" alt="">
                       <div class="media-body">
                          <a href="#">
                             <h1>Harvard Milan</h1>
                             <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                               
                                 </div>
                          </a>
                          <p>I am an expert. This is an example. I hope you find it spectecular.</p>
                       </div>
                    </div>
                 </div>
                 <div class="single-post">
                    
                    <div class="row">
                        <div class="col"><h1>Security Support For PC</h1></div>
                        <div class="col"><h1 style="padding-left: 50%; color: orangered;">10 $</h1></div>
                        
                      </div>
                    
                    <br>
                    <div class="feature-img">
                       <img class="img-fluid" src="{% static 'img/cat/cat4.png' %}" alt="">
                    </div>
                    <div class="blog_details">
                       <h2 style="color: #2d2d2d;">Advert Presentation
                       </h2>
                       <ul class="blog-info-link mt-3 mb-4">
                          <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                          <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                       </ul>
                       <p class="excert">
                          Advert detail page after this there is dummy sentences. Some people do not understand why you
                          should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                          fraction of the camp price. However, who has the willpower
                       </p>
                       <p>
                        Advert detail page after this there is dummy sentences. Some people do not understand why you
                          should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                          fraction of the camp price. However, who has the willpower to actually sit through a
                          self-imposed MCSE training. who has the willpower to actually
                       </p>
                       <div class="quote-wrapper">
                          <div class="quotes">
                            Advert detail page after this there is dummy sentences. Some people do not understand why you
                             should have to spend money on boot camp when you can get the MCSE study materials yourself at
                             a fraction of the camp price. However, who has the willpower to actually sit through a
                             self-imposed MCSE training.
                          </div>
                       </div>
                       <p>
                        Advert detail page after this there is dummy sentences. Some people do not understand why you
                          should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                          fraction of the camp price. However, who has the willpower
                       </p>
                       <p>
                        Advert detail page after this there is dummy sentences. Some people do not understand why you
                          should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                          fraction of the camp price. However, who has the willpower to actually sit through a
                          self-imposed MCSE training. who has the willpower to actually
                       </p>
                    </div>
                 </div>


                 <button type="submit" class="btn btn-success">Make an Offer</button>
               
                 
                 <div class="navigation-top">
                    
                    <div class="navigation-area">
                       <div class="row">

                 </div>

              </div>
           </div>
     
           
          
            </div>
        <div class="col-lg-4">
           <div class="blog_right_sidebar">
               <br>
               <br>
               <br>
               <br>

              
            <button type="submit" class="btn btn-success">Make An Offer</button>
            <aside class="single_sidebar_widget popular_post_widget">
                <br>
                <br>
                <br>
                <br>
                <h3 class="widget_title" style="color: #2d2d2d;">Recent Adverts</h3>
                <div class="media post_item">
                   <img src="{% static 'img/post/post_1.png' %}" alt="post">
                   <div class="media-body">
                      <a href="blog_details.html">
                         <h3 style="color: #2d2d2d;">From life was you fish...</h3>
                      </a>
                      <p>January 12, 2019</p>
                   </div>
                </div>
                <div class="media post_item">
                   <img src="{% static 'img/post/post_2.png' %}" alt="post">
                   <div class="media-body">
                      <a href="blog_details.html">
                         <h3 style="color: #2d2d2d;">The Amazing Hubble</h3>
                      </a>
                      <p>02 Hours ago</p>
                   </div>
                </div>
                <div class="media post_item">
                   <img src="{% static 'img/post/post_3.png' %}" alt="post">
                   <div class="media-body">
                      <a href="blog_details.html">
                         <h3 style="color: #2d2d2d;">Astronomy Or Astrology</h3>
                      </a>
                      <p>03 Hours ago</p>
                   </div>
                </div>
                <div class="media post_item">
                   <img src="{% static 'img/post/post_4.png' %}" alt="post">
                   <div class="media-body">
                      <a href="blog_details.html">
                         <h3 style="color: #2d2d2d;">Asteroids telescope</h3>
                      </a>
                      <p>01 Hours ago</p>
                   </div>
                </div>
             </aside>

           </div>
        </div>
     </div>
     </div>
     </section>
     <!-- Blog Area End -->


{% endblock %}
